.intern-card {
    max-width: 170px;
    min-width: 170px;
    min-height: 170px;
    max-height: 170px;
    flex: 1;
    display: block;
    justify-content: center;
    align-items: center;
    align-self: baseline;
    background-color: red;
    margin: 20px;
}

.existing-intern-div{
    display:inline-table;
}

.intern-buttons{
    margin-top: 40%;
    margin-left: 20%;
}