<div *ngFor="let intern of interns" class="existing-intern-div">
    <form class="intern-form">
      <mat-card class="intern-card">
        <mat-card-header>
          <mat-card-title>	
              {{intern.firstName}}
          </mat-card-title>
          <mat-card-title>	
            {{intern.lastName}}
          </mat-card-title>
        </mat-card-header>

        <mat-card-content>
             <p>{{intern.age}}</p>
             <p>{{intern.dateOfBirth}}</p>
        </mat-card-content>

        <mat-card-content class="intern-buttons">
          <button mat-button (click)="editIntern(intern.id)">
            <mat-icon>edit</mat-icon>
          </button>

          <button mat-button (click)="deleteIntern(intern.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-content>

      </mat-card>
    </form>
</div>