.interns{
    display:flex;
    justify-content:space-evenly;
    margin-top: 50px;
}
.add-intern-card {
    max-width: 150px;
    min-width: 150px;
    min-height: 30px;
    max-height: 30px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    margin: 20px;
}

h1{
    background-color: lightblue ;
    margin:20px;
    max-width: 150px;
}