h1{
    background-color: red;
    max-width: 300px;
    text-align: center;
}

a{
    margin: 5px;
}

.add-intern-form {
    display: flex;
    flex-direction: column;
    max-width: 300px; 
    background-color: burlywood;
}

.title-area,.desc-area{
    background-color:blanchedalmond;
}

.add-btn{
    background-color: cornflowerblue;
}

input{
    margin-top: 5px;
    height: 40px;
    font-size: medium;
}