<h1 *ngIf="parameter == 'add'">Add an intern</h1>
<h1 *ngIf="parameter != 'add'">Edit intern</h1>

<div class="add-intern-form" *ngIf="parameter == 'add'">
    <mat-form-field>
        <a>FirstName</a>
       <input class="title-area" matInput [(ngModel)]="internFirstName"/>
    </mat-form-field>

    <mat-form-field>
        <a>LastName</a>
       <input class="title-area" matInput [(ngModel)]="internLastName"/>
   </mat-form-field>

   <mat-form-field>
        <a>Age</a>
        <input class="title-area" matInput [(ngModel)]="internAge"/>
    </mat-form-field>
    
    <mat-form-field>
        <a>Date of birth</a>
        <input class="title-area" matInput [(ngModel)]="internDateOfBirth"/>
    </mat-form-field>

<button class="add-btn" mat-button (click)="addNote()">Add</button>
</div>

<div *ngIf=" intern$ | async as n ">
    <div class="add-intern-form" *ngIf="parameter != 'add'" >
        
        <mat-form-field>
            <a>FirstName</a>
           <input class="title-area" matInput [(ngModel)]="n.firstName"/>
        </mat-form-field>
        <mat-form-field>   
            <a>LastName</a>
           <input class="title-area" matInput [(ngModel)]="n.lastName"/>
       </mat-form-field>
    
       <mat-form-field>
            <a>Age</a>
            <input class="title-area" matInput [(ngModel)]="n.age"/>
        </mat-form-field>
        
        <mat-form-field>
            <a>Date of birth</a>
            <input class="title-area" matInput [(ngModel)]="n.dateOfBirth"/>
       </mat-form-field>
        
        <button class="add-btn" mat-button (click)="editNote(n)" >Save</button>
    </div>
</div>